<div class="content_wrapper <%= content_form.object.img_html_klass %>" id="wrapper_<%= content_form.index %>">
  <%= image_tag raw url_for(content_form.object.image) %>
  <%= content_form.text_area :html, class: "d-none" %>
</div>