<div class="loader-top"></div>
<div class="loader-bottom"></div>
<header>
  <div class="logo"><a href="index.html"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.58 36.7"><defs><style>.cls-1{fill:#fff2cc;}</style></defs><title>logo</title><g id="圖層_2" data-name="圖層 2"><g id="圖層_2-2" data-name="圖層 2-2"><path class="cls-1" d="M42,42.63H37.79l0.91-3.38H51.35l-0.91,3.38H42Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M41.4,47.25A9.14,9.14,0,0,1,38,51.91l2.39,3.24a13,13,0,0,0,4.91-6.84l2.39-8.94V39.26H43.54Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M35,21.75a1.75,1.75,0,0,0-1.87,1.09c-0.62,2.29,7,.82,5.57,6.34-0.6,2.24-2.81,4.27-7,4.27a7.41,7.41,0,0,1-5.76-2.32l3.16-2.89a5.18,5.18,0,0,0,3.65,2c1.16,0,1.64-.31,1.8-0.89,0.55-2.07-7-.82-5.6-6.16a7,7,0,0,1,6.85-4.74c3.84,0,4.81,2,4.62,4.1l-3.89.89A1.39,1.39,0,0,0,35,21.75Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M58.64,18.59L54.71,33.27H50.55l1.51-5.65H47l-1.52,5.65H41.37L45.3,18.59h4.16l-1.52,5.65h5l1.51-5.65h4.19Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M63,18.59h4L63.15,33.27h-4Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M74.69,22L74,24.64h5.16l-0.87,3.25H73.11l-1.44,5.38H67.51l3.93-14.68H81.51L80.61,22H74.69Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M29.48,42.35a1.77,1.77,0,0,0-1.87,1.09c-0.62,2.29,7,.82,5.57,6.34C32.58,52,30.37,54,26.18,54a7.45,7.45,0,0,1-5.76-2.31l3.16-2.9a5.15,5.15,0,0,0,3.65,2c1.16,0,1.64-.31,1.8-0.89,0.55-2.07-7-.82-5.6-6.16A7,7,0,0,1,30.24,39c3.85,0,4.81,2,4.62,4.09L31,44A1.37,1.37,0,0,0,29.48,42.35Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M67.16,39.19L64.8,48a8.08,8.08,0,0,1-8,6.07C52.93,54,51,51.71,52,48l2.37-8.79h4.16L56.16,48c-0.43,1.58.26,2.49,1.6,2.49A3.06,3.06,0,0,0,60.65,48L63,39.19h4.16Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M82.43,46.51c-1.22,4.54-4.22,7.36-8.6,7.36H67.49l3.93-14.68h5.74C81.9,39.19,83.57,42.24,82.43,46.51Zm-4.21,0C79,43.69,78,42.4,75.59,42.4H74.72l-2.21,8.27H74C76,50.67,77.41,49.56,78.22,46.51Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M108.63,46.51A9.69,9.69,0,0,1,99.26,54c-4.36,0-6.59-2.89-5.35-7.52A9.68,9.68,0,0,1,103.28,39C107.64,39,109.86,41.91,108.63,46.51Zm-4.2,0c0.68-2.53-.31-3.91-2.11-3.91s-3.53,1.4-4.21,3.91,0.3,3.94,2.11,3.94S103.74,49.07,104.43,46.51Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M91.88,36.67a13.38,13.38,0,0,0-5.07,7L84.06,54h4.29l2.45-9.21A9.39,9.39,0,0,1,94.35,40Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M87.55,22H83.3l0.91-3.38H96.86L96,22H87.55Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M86.73,27.3A9.2,9.2,0,0,1,83.3,32l2.39,3.24a13.08,13.08,0,0,0,4.92-6.84l2.39-9,0.21-.82H89.05Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M115.18,53.56A2.82,2.82,0,1,1,118,50.74h0A2.83,2.83,0,0,1,115.18,53.56Zm0-5.14a2.32,2.32,0,1,0,2.31,2.33h0a2.31,2.31,0,0,0-2.3-2.32h0Z" transform="translate(-20.42 -18.45)"/><path class="cls-1" d="M116.79,53h-0.32c-1.08,0-.76-1.58-1.77-1.58h-0.31V53h-0.53V49H115a1.19,1.19,0,0,1,1.42,1.25,1.17,1.17,0,0,1-.86,1.12c0.49,0.29.5,1.23,1,1.23h0.12ZM115,51a0.87,0.87,0,0,0,1-.79,0.76,0.76,0,0,0-.9-0.78h-0.61V51H115Z" transform="translate(-20.42 -18.45)"/></g></g></svg>
<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.58 36.7"><defs><style>.clss-1{fill:#4b7cb7;}</style></defs><title>logo</title><g id="圖層_2" data-name="圖層 2"><g id="圖層_2-2" data-name="圖層 2-2"><path class="clss-1" d="M42,42.63H37.79l0.91-3.38H51.35l-0.91,3.38H42Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M41.4,47.25A9.14,9.14,0,0,1,38,51.91l2.39,3.24a13,13,0,0,0,4.91-6.84l2.39-8.94V39.26H43.54Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M35,21.75a1.75,1.75,0,0,0-1.87,1.09c-0.62,2.29,7,.82,5.57,6.34-0.6,2.24-2.81,4.27-7,4.27a7.41,7.41,0,0,1-5.76-2.32l3.16-2.89a5.18,5.18,0,0,0,3.65,2c1.16,0,1.64-.31,1.8-0.89,0.55-2.07-7-.82-5.6-6.16a7,7,0,0,1,6.85-4.74c3.84,0,4.81,2,4.62,4.1l-3.89.89A1.39,1.39,0,0,0,35,21.75Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M58.64,18.59L54.71,33.27H50.55l1.51-5.65H47l-1.52,5.65H41.37L45.3,18.59h4.16l-1.52,5.65h5l1.51-5.65h4.19Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M63,18.59h4L63.15,33.27h-4Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M74.69,22L74,24.64h5.16l-0.87,3.25H73.11l-1.44,5.38H67.51l3.93-14.68H81.51L80.61,22H74.69Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M29.48,42.35a1.77,1.77,0,0,0-1.87,1.09c-0.62,2.29,7,.82,5.57,6.34C32.58,52,30.37,54,26.18,54a7.45,7.45,0,0,1-5.76-2.31l3.16-2.9a5.15,5.15,0,0,0,3.65,2c1.16,0,1.64-.31,1.8-0.89,0.55-2.07-7-.82-5.6-6.16A7,7,0,0,1,30.24,39c3.85,0,4.81,2,4.62,4.09L31,44A1.37,1.37,0,0,0,29.48,42.35Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M67.16,39.19L64.8,48a8.08,8.08,0,0,1-8,6.07C52.93,54,51,51.71,52,48l2.37-8.79h4.16L56.16,48c-0.43,1.58.26,2.49,1.6,2.49A3.06,3.06,0,0,0,60.65,48L63,39.19h4.16Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M82.43,46.51c-1.22,4.54-4.22,7.36-8.6,7.36H67.49l3.93-14.68h5.74C81.9,39.19,83.57,42.24,82.43,46.51Zm-4.21,0C79,43.69,78,42.4,75.59,42.4H74.72l-2.21,8.27H74C76,50.67,77.41,49.56,78.22,46.51Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M108.63,46.51A9.69,9.69,0,0,1,99.26,54c-4.36,0-6.59-2.89-5.35-7.52A9.68,9.68,0,0,1,103.28,39C107.64,39,109.86,41.91,108.63,46.51Zm-4.2,0c0.68-2.53-.31-3.91-2.11-3.91s-3.53,1.4-4.21,3.91,0.3,3.94,2.11,3.94S103.74,49.07,104.43,46.51Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M91.88,36.67a13.38,13.38,0,0,0-5.07,7L84.06,54h4.29l2.45-9.21A9.39,9.39,0,0,1,94.35,40Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M87.55,22H83.3l0.91-3.38H96.86L96,22H87.55Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M86.73,27.3A9.2,9.2,0,0,1,83.3,32l2.39,3.24a13.08,13.08,0,0,0,4.92-6.84l2.39-9,0.21-.82H89.05Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M115.18,53.56A2.82,2.82,0,1,1,118,50.74h0A2.83,2.83,0,0,1,115.18,53.56Zm0-5.14a2.32,2.32,0,1,0,2.31,2.33h0a2.31,2.31,0,0,0-2.3-2.32h0Z" transform="translate(-20.42 -18.45)"/><path class="clss-1" d="M116.79,53h-0.32c-1.08,0-.76-1.58-1.77-1.58h-0.31V53h-0.53V49H115a1.19,1.19,0,0,1,1.42,1.25,1.17,1.17,0,0,1-.86,1.12c0.49,0.29.5,1.23,1,1.23h0.12ZM115,51a0.87,0.87,0,0,0,1-.79,0.76,0.76,0,0,0-.9-0.78h-0.61V51H115Z" transform="translate(-20.42 -18.45)"/></g></g></svg></a></div>
  <nav class="nav-menu">
    <ul>
      <li><a class="font-black" href="about.html" data-name="about">About Us</a></li>
      <li><a class="font-black" href="works.html" data-name="works">Works</a></li>
      <li><a class="font-black" href="members.html" data-name="members">Members</a></li>
      <li><a class="font-black" href="contact.html" data-name="contact">Contact Us</a></li>
    </ul>
  </nav>
</header>
<div class="content barba-container content-loading" data-namespace="home">
  <nav class="mobile-nav">
    <button class="menu-button x" type="button" role="button" aria-label="Toggle Navigation"><span class="menu-lines"></span></button>
    <div class="mobile-menu">
      <ul>
        <li><a class="font-white" href="about.html">About Us</a></li>
        <li><a class="font-white" href="works.html">Works</a></li>
        <li><a class="font-white" href="members.html">Members</a></li>
        <li><a class="font-white" href="contact.html">Contact Us</a></li>
        <div class="divider bg-blue"></div>
        <div class="social-share"><a class="font-blue" href="#">Facebook</a><a class="font-blue" href="#">Instagram</a></div>
      </ul>
    </div>
  </nav>
  <div class="index-content">
    <section class="new-work-wrap">
      <h2 class="font-white">LATEST WORK</h2>
      <div class="divider bg-white"></div><a class="new-work font-black">
        <div class="new-work-image"><img src="<%= asset_path('new-work.png') %>"></div>
        <div class="new-work-des">
          <div class="new-work-des-top"><span class="new-work-serial">#07</span>/<span class="new-work-tag">SHIFT Work</span></div>
          <div class="new-work-des-bottom">
            <p class="new-work-title">3M Post-it Online Advertising</p>
          </div>
        </div></a><a class="new-work font-black">
        <div class="new-work-image"><img src="<%= asset_path('new-work.png') %>"></div>
        <div class="new-work-des">
          <div class="new-work-des-top"><span class="new-work-serial">#08</span>/<span class="new-work-tag">SHIFT Work</span></div>
          <div class="new-work-des-bottom">
            <p class="new-work-title">4M Tap-it Offline Advertising</p>
          </div>
        </div></a><a class="see-more font-blue">see more >></a><a class="new-work-box"><span class="new-work-button"></span></a>
    </section>
    <section class="c-info">
      <div class="c-bullet">
        <div class="b-left"></div>
        <div class="b-right"></div>
      </div>
      <div class="c-info-box">
        <p class="font-black">Average Age</p>
        <div class="c-info-number" name="age"><span class="font-white">25</span></div>
      </div>
      <div class="c-info-box">
        <p class="font-black">Works</p>
        <div class="c-info-number" name="works"><span class="font-white">61</span></div>
      </div>
      <div class="c-info-box">
        <p class="font-black">Cooperations</p>
        <div class="c-info-number" name="coop"><span class="font-white">22</span></div>
      </div>
    </section>
    <div class="social-menu">
      <button class="lines-button x" type="button" role="button" aria-label="Toggle Navigation"><span class="lines"></span></button>
      <div class="social-share"><a href="#">Facebook</a><a href="#">Instagram</a></div>
    </div>
    <div class="chat-box chat-box-pulse">
      <div class="chat-plugin"><img src="<%= asset_path('chatBG.svg') %>"></div>
    </div>
    <div class="copyright">
      <p>© SHIFT 2018 Handcrafted with hard work and love by us</p>
    </div>
  </div>
</div>