<div class="loader-top"></div>
<div class="loader-bottom"></div>
<header>
  <div class="logo"></div>
  <nav class="nav-menu">
    <ul>
      <li><a class="font-black" href="/test" data-name="about">About Us</a></li>
      <li><a class="font-black" href="/" data-name="work">Works</a></li>
      <li><a class="font-black" href="#" data-name="member">Members</a></li>
      <li><a class="font-black" href="#" data-name="contact">Contact Us</a></li>
    </ul>
  </nav>
</header>
<div class="content barba-container content-loading" data-namespace="about">
  <nav class="mobile-nav">
    <button class="menu-button x" type="button" role="button" aria-label="Toggle Navigation"><span class="menu-lines"></span></button>
    <div class="mobile-menu">
      <ul>
        <li><a class="font-white" href="/test">About Us</a></li>
        <li><a class="font-white" href="/">Works</a></li>
        <li><a class="font-white" href="#">Members</a></li>
        <li><a class="font-white" href="#">Contact Us</a></li>
        <div class="divider bg-blue"></div>
        <div class="social-share"><a class="font-blue" href="#">Facebook</a><a class="font-blue" href="#">Instagram</a></div>
      </ul>
    </div>
  </nav>
  <div class="index-content">
    <section>
      <p>test</p>
      <p>test</p><img src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&amp;v=2&amp;sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae"><img src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&amp;v=2&amp;sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae"><img src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&amp;v=2&amp;sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae"><img src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&amp;v=2&amp;sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae"><img src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&amp;v=2&amp;sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae">
      <div class="social-menu">
        <button class="lines-button x" type="button" role="button" aria-label="Toggle Navigation"><span class="lines"></span></button>
        <div class="social-share"><a href="#">Facebook</a><a href="#">Instagram</a></div>
      </div>
    </section>
  </div>
</div>