<span class="cke_toolbar_wrapper template">
	<span class="cke_toolbar_separator" role="separator"></span>
	<span class="cke_toolbar" role="toolbar">
	  <span class="cke_toolbar_start"></span>
	  <span class="cke_toolgroup" role="presentation">
	    <a class="cke_button cke_button_off content_wrapper_adjust html_symbol content_wrapper_adjust_wider" href="javascript:void(0)" title="加寬" tabindex="-1" hidefocus="true" role="button">&#43;</a>
	    <a class="cke_button cke_button_off content_wrapper_adjust html_symbol content_wrapper_adjust_narrower" href="javascript:void(0)" title="縮窄" tabindex="-1" hidefocus="true" role="button">&#8722;</a>
	    <a class="cke_button cke_button_off content_wrapper_adjust html_symbol content_wrapper_adjust_up" href="javascript:void(0)" title="上移" tabindex="-1" hidefocus="true" role="button">&#8593;</a>
	    <a class="cke_button cke_button_off content_wrapper_adjust html_symbol content_wrapper_adjust_down" href="javascript:void(0)" title="下移" tabindex="-1" hidefocus="true" role="button">&#8595;</a>
	  </span>
	  <span class="cke_toolbar_end"></span>
	</span>
	<span class="cke_toolbar" role="toolbar">
	  <span class="cke_toolbar_start"></span>
	  <span class="cke_toolgroup" role="presentation">
	    <a class="cke_button cke_button_off content_wrapper_adjust content_wrapper_adjust_insert_top" href="javascript:void(0)" title="上方插入區塊" tabindex="-1" hidefocus="true" role="button">上方插入區塊</a>
	    <a class="cke_button cke_button_off content_wrapper_adjust content_wrapper_adjust_insert_bottom" href="javascript:void(0)" title="下方插入區塊" tabindex="-1" hidefocus="true" role="button">下方插入區塊</a>
	  </span>
	  <span class="cke_toolbar_end"></span>
	</span>
	<span class="cke_toolbar" role="toolbar">
	  <span class="cke_toolbar_start"></span>
	  <span class="cke_toolgroup" role="presentation">
	    <a class="cke_button cke_button_off content_wrapper_adjust content_wrapper_adjust_delete" href="javascript:void(0)" title="刪除此區塊" tabindex="-1" hidefocus="true" role="button" onfocus="return CKEDITOR.tools.callFunction(15,event);">刪除 &#10005;</a>
	  </span>
	  <span class="cke_toolbar_end"></span>
	</span>
</span>