<div class="dropdown embed_button template">
  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
  <div class="dropdown-menu">
  	<!-- <a class="dropdown-item link-no-decoration content_wrapper_adjust content_wrapper_adjust_wider" href="javascript:void(0)" title="加寬">&#43;</a>
    <a class="dropdown-item link-no-decoration content_wrapper_adjust content_wrapper_adjust_narrower" href="javascript:void(0)" title="縮窄">&#8722;</a> -->
    <a class="dropdown-item link-no-decoration content_wrapper_adjust content_wrapper_adjust_up" href="javascript:void(0)" title="上移">&#8593;</a>
    <a class="dropdown-item link-no-decoration content_wrapper_adjust content_wrapper_adjust_down" href="javascript:void(0)" title="下移">&#8595;</a>
    <a class="dropdown-item link-no-decoration content_wrapper_adjust content_wrapper_adjust_insert_top" href="javascript:void(0)" title="上方插入區塊">上方插入區塊</a>
		<a class="dropdown-item link-no-decoration content_wrapper_adjust content_wrapper_adjust_insert_bottom" href="javascript:void(0)" title="下方插入區塊">下方插入區塊</a>
    <a class="dropdown-item link-no-decoration content_wrapper_adjust content_wrapper_adjust_delete" href="javascript:void(0)" title="刪除此區塊">&#10005;</a>
  </div>
</div>