.about-content {
	position: relative;
	overflow-x: hidden;
	.about-content-info {
		span {
			font-family: "Basic Sans Alt-SemiBold";
			color: $yellow;
			font-size: 1.25em;
			border: 1px solid $white;
			padding: 5px 20px;
			@include radius(20px);
		}
		p {
			font-family: "Basic Sans Alt-Light";
			color: white;
			font-size: 0.938em;
		}
		.about-title {
			font-family: "Basic Sans Alt-BlackIt";
			font-size: 4.5em;
			font-weight: bold;
			line-height: 1;
			margin-top: 10px;
			color: $yellow;
		}
		a {
			font-family: "Basic Sans Alt-SemiBold";
			font-size: 1.875em;
			color: $yellow;
			display: inline-block;
			&:after {
				content: '';
				display: block;
				width: 0%;
				height: 1px;
				background: $yellow;
				@include transition(all .3s);
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}		
	.creative-production-block {
		background: $blue;
		width: 100%;
		padding-top: 200px;
		position: relative;
		z-index: 2;
		@include for-phone-only {
			padding-top: 100px;
		}
		@include for-desktop-up {
			padding-top: 260px;
		}
		img {
			width: 100%;
			float: none;
			margin-left: 0;
			@include transition(all .5s);
			@include for-tablet-portrait-up {
				width: 50%;
				float: left;
				margin-left: 1%;
			}
			@include for-desktop-up {
				margin-left: 7%;
			}
		}
		.creative-img-hide {
			margin-left: -100%;
		}
		.creative-production-info {
			float: none;
			margin-top: 30px;
			margin-left: 0;
			width: 100%;
			opacity: 1;
			padding: 0 2em;
			@include transition(all .5s);
			@include for-phone-only {
				padding: 0 1.2em;
				.about-title {
					font-size: 3.5em;
				}
			}
			@include for-tablet-portrait-up {
				float: left;
				width: 42%;
				margin-left: 30px;
				margin-top: 0;
				padding: 0;
			}
			@include for-desktop-up {
				margin-top: 10%;
				max-width: 420px;
			}
		}
		.creative-production-info-hide {
			opacity: 0;
		}
	}
	.strategy-block {
		position: fixed;
		top: 50px;
		right: 0;
		left: 0;
		margin: auto;
		z-index: 1;
		@include for-phone-only {
			padding-top: 20px;
		}
		img {
			position: absolute;
			width: 600px;
			float: right;
			right: 10%;
			@include transition(all .7s);
			@include for-phone-only {
				display: none;
			}
			@include for-tablet-portrait-up {
				right: auto;
			}
			@include for-desktop-up {
				width: 50%;
				max-width: 800px;
			}
		}
		.strategy-flake {
			position: absolute;
			right: 2%;
			top: 15%;
			width: 40%;
			@include transition(all .5s);
			@include for-phone-only {
				width: 100%;
				top: 110%;
			}
			@include for-tablet-portrait-up {
				right: 2%;
				width: 48%;
				max-width: 800px;
			}
			@include for-desktop-up {
				right: 5%;
			}
			@include for-mid-desktop-up {
				right: 10%;
			}
			@include for-big-desktop-up {
				right: 15%;
			}
		}
		.strategy-info {
			float: left;
			margin-top: 10%;
			margin-left: 5%;
			width: 40%;
			max-width: 400px;
			opacity: 1;
			@include transition(all .5s);
			@include for-phone-only {
				width: 100%;
				margin-top: 5%;
				margin-right: 0;
				padding: 0 1.2em;
				float: none;
				margin-left: 0;
				max-width: 100%;
			}
			@include for-tablet-landscape-up {
				margin-left: 10%;
			}
			@include for-big-desktop-up {
				margin-left: 20%;
			}
			p {
				color: $blue;
			}
			span {
				color: $white;
				border-color: $blue;
			}
			.about-title {
				color: $white;
				@include for-phone-only {
					font-size: 3.5em;
					margin-top: 25px;
				}
			}
		}
		.strategy-img-hide {
			margin-left: -100%;
		}
		.strategy-flake-hide {
			right: -100%;
		}
		.strategy-info-hide {
			opacity: 0;
		}
	}
	.block-hack {
		height: 700px;
		width: 100%;
		background: none;
		position: relative;
		z-index: 2;
	}
	.performance-block {
		// margin-top: 700px;
		background: $yellow;
		padding-top: 0;
		position: relative;
		z-index: 2;
		img {
			width: 100%;
			float: left;
			margin-left: 1%;
			padding-top: 10%;
			@include transition(all .5s);
			@include for-phone-only {
				float: none;
			}
			@include for-tablet-portrait-up {
				width: 100%;
				margin-left: -50%;
			}
			@include for-small-desktop-up {
				width: 50%;
				margin-left: 1%;
			}
			@include for-desktop-up {
				margin-left: 1em;
				padding-top: 0;
			}
		}
		.performance-img-hide {
			margin-left: -100%;
		}
		.performance-info {
			float: right;
			margin-top: 5%;
			margin-right: 0;
			width: 100%;
			opacity: 1;
			padding: 0 2em;
			@include transition(all .5s);
			@include for-phone-only {
				padding: 0 1.2em;
			}
			@include for-tablet-portrait-up {
				width: 50%;
				margin-top: 2%;
			}
			@include for-small-desktop-up {
				width: 43%;
			}
			@include for-desktop-up {
				width: 43%;
				max-width: 500px;
				margin-right: 5%;
			}
			@include for-mid-desktop-up {
				margin-right: 10%;
			}
			@include for-big-desktop-up {
				margin-right: 15%;
			}
			span {
				color: $blue;
				border-color: $black;
			}
			p {
				max-width: 420px;
				color: $black;
				@include for-desktop-up {
					max-width: 100%;
				}
			}
			.about-title {
				color: $blue;
				max-width: 500px;
				@include for-phone-only {
					font-size: 3.5em;
				}
				@include for-desktop-up {
					max-width: 100%;
				}
			}
		}
		.performance-info-hide {
			opacity: 0;
		}
	}
	.team-block {
		background: $yellow;
		padding-top: 50px;
		position: relative;
		z-index: 2;
		.team-img {
			position: relative;
			background: $white url(../images/teamBG-grid.svg) top left repeat;
			background-size: 10px 10px;
			width: 100%;
			padding-bottom: 50%;
			overflow: hidden;
			@include for-phone-only {
				padding-bottom: 100%;
			}
			img {
				position: absolute;
				margin-top: 30px;
				width: 100%;
				z-index: 7;
				@include transition(all .5s);
				@include for-phone-only {
					width: 250%;
					max-width: 250%;
					left: -100px;
					top: -50px;
				}
			}
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 0%;
				position: absolute;
				top: 0;
				right: 0;
				background: $white;
				@include transition(all 1s);
			}
		}
		.team-info {
			margin: 0 auto;
			max-width: 600px;
			text-align: center;
			padding: 0 1.2em;
			position: relative;
			z-index: 5;
			@include transition(all .3s);
			span {
				display: inline-block;
				color: $blue;
				border-color: $black;
			}
			p {
				color: $black;
				margin-top: 30px;
				max-width: 420px;
				margin-right: auto;
				margin-left: auto;
			}
			.about-title {
				color: $blue;
				margin-top: 10px;
				max-width: 100%;
				@include for-phone-only {
					font-size: 3.5em;
				}
			}
			a {
				color: $blue;
				&:after {
					background: $blue;
				}
			}
		}
		.team-info-hide {
			transform: translateX(200%);
		}
		.team-img-hide {
			&:after {
				height: 100%;
			}
		}
	}
	.creative-production-triangle {
		background-image: linear-gradient(to right bottom, $blue 0%, $blue 50%, transparent 50%);
		position: absolute;
		width: 100%;
		height: 140px;
		left: 0;
		z-index: 2;
		margin-top: -1px;
		@include for-phone-only {
			height: 50px;
		}
	}
	.performance-triangle {
		background-image: linear-gradient(to left top, $yellow 0%, $yellow 50%, transparent 50%);
		position: absolute;
		width: 100%;
		height: 140px;
		left: 0;
		top: -140px;
		margin-bottom: -1px;
		@include for-phone-only {
			height: 50px;
			top: -50px;
		}
	}
	.team-triangle {
		position: relative;
		height: 0;
		.team-triangle-left {
			background-image: linear-gradient(to right top, $white 0%, $white 50%, transparent 50%);
			position: absolute;
			width: 50%;
			height: 120px;
			left: 0;
			top: -120px;
			margin-bottom: -1px;
			@include for-phone-only {
				height: 50px;
				top: -50px;
				width: 100%;
			}
		}
		.team-triangle-right {
			background-image: linear-gradient(to left bottom, $yellow 0%, $yellow 50%, transparent 50%);
			position: absolute;
			width: 50%;
			height: 120px;
			right: 0;
			top: 0;
			margin-bottom: -1px;
			z-index: 6;
			@include for-phone-only {
				height: 50px;
				top: -50px;
				display: none;
			}
		}
	}
}