header {
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 99;
	.logo {
		position: absolute;
		width: 150px;
		height: 75px;
		background: $black;
		svg {
			position: absolute;
			left: 1em;
			width: 120px;
			margin-top: 15px;
			@include transition(all .3s);
		}
		#Layer_2 {
			opacity: 0;
		}
		&:hover {
			#Layer_1 {
				opacity: 0;
			}
			#Layer_2 {
				opacity: 1;
			}
		}
	}
	nav ul {
		margin-top: 10px;
		li {
			margin: 1.25em;
			display: inline-block;
			a {
				font-family: "Basic Sans Alt-SemiBold";
				@include font(1.125em, 600, none, 1.2em);
				position: relative;
				color: white;
				@include transition(all .3s);
				&:hover {
					color: $blue;
				}
			}
			.has-link {
				color: $blue;
			}
		}
	}
	.works-nav {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		background: $black;
		a {
			color: $white;
			@include transition(all .3s);
			&:after {
				border-color: $blue;
			}
			&:hover {
				color: $blue;
			}
		}
		@include for-mid-desktop-up {
			max-width: 700px;
		}
	}
}
.mobile-nav {
	z-index: 999;
	position: fixed;
	right: 25px;
	top: 25px;
	background-color: $black;
	text-align: center;
	width: 46px;
	height: 46px;
	overflow: hidden;
	padding: 0;
	display: block;
	@include radius(10px);
	.mobile-menu {
		ul {
			margin: 0 auto;
			padding-top: 30px;
			li {
				display: block;
				margin: 0.75em 2em;
				a {
					font-family: "Basic Sans Alt-SemiBold";
					@include font(1.125em, 600, none, 1.2em);
					color: white;
					white-space: nowrap;
					@include transition(color .3s);
					&:hover {
						color: $blue;
					}
				}
			}
		}
		.divider {
			width: 80%;
			margin: 0 auto;
		}
		.social-share {
			padding: 10px 0;
			a {
				font-size: 1.125em;
				font-weight: bold;
				display: block;
				padding-bottom: 5px;
				white-space: nowrap;
				@include transition(all .3s);
				&:hover {
					color: $white;
				}
			}
		}
	}
}
.mobile-nav-open {
	width: auto;
	height: auto;
}
.nav-menu {
	display: none;
}
@include for-small-desktop-up {
	.nav-menu {
		display: block;
	}
	.mobile-nav {
		display: none;
	}
}
