<div class="content barba-container content-loading" data-namespace="error">
  <%= render "common/mobile_nav" %>
  <div class="error-content">
    <div class="error">
      <p class="title">404</p>
      <p class="sub-title">PAGE NOT FOUND</p>
      <p class="tagline">Oops! Something went wrong.</p>
      <p class="tagline">Don't worry though, our secret ninja will take you back to the homepage now</p><%= image_tag "error.png" %>
    </div>
  </div>
</div>