.copyright {
	width: 100%;
	position: absolute;
	bottom: 10px;
	p {
		text-align: center;
		font-size: 0.875em;
		color: $white;
	}
	@include for-phone-only {
		width: 40%;
		p {
			padding-left: 1em;
			text-align: left;
			font-size: 0.75em;
		}
	}
}