@font-face {
    font-family: "Basic Sans Alt-Black";
    src: font-url(asset-path('fonts/BasicSansAlt-Regular.otf'));
}
@font-face {
    font-family: "Basic Sans Alt-BlackIt";
    src: font-url(asset-path('fonts/BasicSansAlt-BlackIt.otf'));
}
@font-face {
    font-family: "Basic Sans Alt-Light";
    src: font-url(asset-path('fonts/BasicSansAlt-Light.otf'));
}
@font-face {
    font-family: "Basic Sans Alt-SemiBold";
    src: font-url(asset-path('fonts/BasicSansAlt-SemiBold.otf'));
}
@font-face {
    font-family: "Noto Sans CJKtc-Light";
    src: font-url(asset-path('fonts/NotoSansCJKtc-Light.otf'));
}