* {
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	outline: none;
	padding: 0;
	word-break: keep-all;
}
html {
	height: 100%;
}
// ::-webkit-scrollbar {
//     width: 0;  /* remove scrollbar space */
//     background: transparent;  /* optional: just make scrollbar invisible */
// }
body {
	background: #2c2824;
	font-family: "jaf-domus",sans-serif;
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: $black;
	overflow-x: hidden;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0;
	// display: none;
}
.content {
	width: 100%;
	height: 100%;
	padding: 1.2%;
	min-height: 100%;
	@include for-phone-only {
		padding: 2.4%;
	}
}
