/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  padding: 0; }

html {
  height: 100%; }

body {
  background: #2c2824;
  font-family: "jaf-domus",sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #2c2824;
  overflow-x: hidden;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  margin: 0; }

.content {
  width: 100%;
  height: 100%;
  padding: 1.2%;
  min-height: 100%; }
  @media (min-width: 1400px) {
    .content {
      padding: 10px; } }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.is-loading {
  overflow: hidden; }

.divider {
  width: 100%;
  height: 1px; }

.bg-yellow {
  background-color: #f3dc11; }

.bg-blue {
  background-color: #4b7cb7; }

.bg-black {
  background-color: #2c2824; }

.bg-white {
  background-color: #fff2cc; }

.font-yellow {
  color: #f3dc11; }

.font-blue {
  color: #4b7cb7; }

.font-black {
  color: #2c2824; }

.font-white {
  color: #fff2cc; }

.loader-top {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: #2c2824;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.loader-bottom {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: #2c2824;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

header {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 99; }
  header nav ul li {
    margin: 1.25em;
    display: inline-block; }
    header nav ul li a {
      font-size: 1.125em;
      font-weight: 700;
      text-decoration: none;
      line-height: 1.2em;
      position: relative; }
      header nav ul li a:after {
        content: '';
        display: block;
        width: 100%;
        border-bottom: 1px solid #2c2824;
        position: absolute;
        bottom: -15px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0; }
      header nav ul li a:hover {
        color: #2c2824; }
        header nav ul li a:hover:after {
          bottom: -5px;
          opacity: 100; }
    header nav ul li .has-link {
      color: #4b7cb7; }
      header nav ul li .has-link:after {
        bottom: -5px;
        opacity: 100;
        border-color: #4b7cb7; }
  header .works-nav {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: #2c2824; }
    header .works-nav a {
      color: #fff2cc;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      header .works-nav a:after {
        border-color: #4b7cb7; }
      header .works-nav a:hover {
        color: #4b7cb7; }

.mobile-nav {
  z-index: 999;
  position: absolute;
  right: 35px;
  top: 35px;
  background-color: #2c2824;
  text-align: center;
  width: 46px;
  height: 46px;
  overflow: hidden;
  padding: 0;
  display: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px; }
  .mobile-nav .mobile-menu ul {
    margin: 0 auto;
    padding-top: 30px; }
    .mobile-nav .mobile-menu ul li {
      display: block;
      margin: 0.75em 2em; }
      .mobile-nav .mobile-menu ul li a {
        font-size: 1.125em;
        font-weight: 700;
        text-decoration: none;
        line-height: 1.2em;
        white-space: nowrap;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        -webkit-transition: color 0.3s;
        transition: color 0.3s; }
        .mobile-nav .mobile-menu ul li a:hover {
          color: #4b7cb7; }
  .mobile-nav .mobile-menu .divider {
    width: 80%;
    margin: 0 auto; }
  .mobile-nav .mobile-menu .social-share {
    padding: 10px 0; }
    .mobile-nav .mobile-menu .social-share a {
      font-size: 1.125em;
      font-weight: bold;
      display: block;
      padding-bottom: 5px;
      white-space: nowrap;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .mobile-nav .mobile-menu .social-share a:hover {
        color: #fff2cc; }

.mobile-nav-open {
  width: auto;
  height: auto; }

@media (max-width: 599px) {
  .nav-menu {
    display: none; }
  .mobile-nav {
    display: block; } }

.index-content {
  background: #f3dc11 url("../images/indexBG.png") center no-repeat;
  background-size: 85%;
  width: 100%;
  min-height: 100%;
  overflow: no-scroll; }
  @media (max-width: 599px) {
    .index-content {
      background-size: 200%; } }
  .index-content .new-work-wrap {
    position: absolute;
    left: -300px;
    top: 0;
    bottom: 0;
    width: 280px;
    background: #2c2824 url("../images/newWorkBG.png") 30% 150% no-repeat;
    background-size: 200%;
    z-index: 10;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .index-content .new-work-wrap h2 {
      font-size: 1.75em;
      font-weight: 700;
      text-decoration: none;
      line-height: 1.2em;
      text-align: center;
      margin-top: 30px; }
    .index-content .new-work-wrap .divider {
      width: 40px;
      margin: 30px auto; }
    .index-content .new-work-wrap .new-work {
      width: 273px;
      background: #f3dc11;
      margin-bottom: 25px;
      margin-left: 20px;
      display: block; }
      .index-content .new-work-wrap .new-work .new-work-des {
        padding: 3% 5%;
        font-size: 1.125em;
        font-weight: normal;
        text-decoration: none;
        line-height: 1.2em; }
        .index-content .new-work-wrap .new-work .new-work-des .new-work-des-bottom {
          margin-top: 5px; }
          .index-content .new-work-wrap .new-work .new-work-des .new-work-des-bottom .new-work-title {
            font-size: 1.313em;
            line-height: 1em;
            margin-bottom: 0; }
    .index-content .new-work-wrap .new-work-box {
      position: absolute;
      display: block;
      height: 100%;
      min-height: 100%;
      width: 40px;
      right: -80px;
      top: 0;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .index-content .new-work-wrap .new-work-box:hover .new-work-button {
        left: 15px; }
      .index-content .new-work-wrap .new-work-box .new-work-button {
        position: absolute;
        left: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #2c2824;
        top: 50%;
        transform: rotate(0);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .index-content .new-work-wrap .new-work-box .new-work-button-open {
        transform: rotate(180deg); }
    .index-content .new-work-wrap .see-more {
      display: none;
      right: 25px;
      bottom: 70px;
      font-size: 1.5em;
      text-align: right;
      margin-top: 20px; }
    .index-content .new-work-wrap .new-work-box-open {
      left: 300px; }
    @media (max-width: 599px) {
      .index-content .new-work-wrap {
        position: fixed;
        left: 0;
        width: 100%;
        top: 100%;
        padding: 0 0.9375em;
        background-position: -120% 120%;
        background-size: 120%; }
        .index-content .new-work-wrap .new-work:first-of-type {
          display: block; }
        .index-content .new-work-wrap .new-work {
          width: 100%;
          margin: 0;
          display: none; }
          .index-content .new-work-wrap .new-work .new-work-image {
            display: inline-block;
            width: 190px;
            vertical-align: top; }
          .index-content .new-work-wrap .new-work .new-work-des {
            display: inline-block;
            width: calc(100% - 200px); }
            .index-content .new-work-wrap .new-work .new-work-des .new-work-des-bottom {
              font-size: 0.875em; }
        .index-content .new-work-wrap .new-work-box {
          right: 0;
          left: 0;
          top: -50px;
          width: 80%;
          margin: auto;
          min-height: 0;
          height: 50px; }
          .index-content .new-work-wrap .new-work-box .new-work-button {
            left: 0;
            right: 0;
            margin: auto;
            top: 0;
            border-width: 0 20px 20px 20px;
            border-color: transparent transparent #2c2824 transparent; }
          .index-content .new-work-wrap .new-work-box:hover .new-work-button {
            left: 0; }
        .index-content .new-work-wrap .see-more {
          display: block; } }
  .index-content .new-work-wrap-open {
    left: 0; }
    @media (max-width: 599px) {
      .index-content .new-work-wrap-open {
        top: 50%; } }
  .index-content .c-info {
    position: absolute;
    right: 60px;
    padding: 10px 0;
    top: 50%;
    transform: translateY(-50%);
    background: #4b7cb7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px; }
    .index-content .c-info .c-bullet {
      width: 100%;
      position: relative;
      padding-bottom: 30px; }
      .index-content .c-info .c-bullet .b-left, .index-content .c-info .c-bullet .b-right {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        background: #fff2cc;
        position: absolute; }
      .index-content .c-info .c-bullet .b-left {
        left: 10px; }
      .index-content .c-info .c-bullet .b-right {
        right: 10px; }
    @media (max-width: 599px) {
      .index-content .c-info {
        display: none; } }
    @media (min-width: 600px) {
      .index-content .c-info {
        width: 140px; }
        .index-content .c-info .c-info-number {
          width: 100px;
          height: 85px; }
          .index-content .c-info .c-info-number span {
            font-size: 4em;
            top: 10px; } }
    @media (min-width: 1400px) {
      .index-content .c-info {
        width: 170px; }
        .index-content .c-info .c-info-number {
          width: 140px;
          height: 105px; }
          .index-content .c-info .c-info-number span {
            font-size: 6em;
            top: 0px; } }
    .index-content .c-info .c-info-box {
      text-align: center; }
      .index-content .c-info .c-info-box p {
        font-size: 1.125em;
        font-weight: bold;
        margin-bottom: 5px; }
      .index-content .c-info .c-info-box .c-info-number {
        position: relative;
        background: #2c2824;
        margin: 0 auto 12px auto;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px; }
        .index-content .c-info .c-info-box .c-info-number span {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 0;
          line-height: 1; }

.works-content {
  width: 100%;
  min-height: 100%;
  overflow: auto; }
  .works-content .work-nav-arrow {
    position: absolute;
    top: 20%;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 24px;
    border-color: transparent transparent transparent #4b7cb7;
    transform: rotate(0);
    display: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .works-content .work-nav-arrow:before {
      display: block;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -20px;
      left: -22px;
      border-style: solid;
      border-width: 20px 0 20px 20px;
      border-color: transparent transparent transparent #2c2824; }
    @media (max-width: 599px) {
      .works-content .work-nav-arrow {
        display: block; } }
  .works-content .work-nav-arrow-open {
    left: 210px;
    transform: rotate(180deg); }
  .works-content .works-nav {
    width: 175px;
    height: auto;
    max-height: auto;
    background: #2c2824;
    position: fixed;
    left: 40px;
    top: 20%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .works-content .works-nav .works-category-filer {
      height: 70px;
      width: 100%;
      text-align: center; }
      .works-content .works-nav .works-category-filer span {
        display: inline-block;
        background: #f3dc11;
        font-size: 0.938em;
        padding: 3px 20px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -o-border-radius: 30px;
        margin-top: 20px;
        border: 2px solid #4b7cb7; }
    .works-content .works-nav .works-nav-img {
      margin: 0 20px;
      background: #fff2cc;
      height: 80px;
      text-align: center; }
      .works-content .works-nav .works-nav-img img {
        height: 100%; }
    .works-content .works-nav .works-category {
      background: #2c2824;
      margin-top: 25px;
      margin-bottom: 0; }
      .works-content .works-nav .works-category .accordion-item:after {
        content: '';
        display: block;
        width: auto;
        background: #fff2cc;
        height: 1px;
        margin: 0 20px; }
      .works-content .works-nav .works-category .accordion-item .accordion-title {
        border: none;
        padding: 10px 20px;
        font-size: 0.875em;
        color: #fff2cc;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .works-content .works-nav .works-category .accordion-item .accordion-title:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8.7px 5px 0 5px;
          border-color: #fff2cc transparent transparent transparent;
          margin-top: -3px;
          right: 1.5em;
          transform-origin: 50% 50%;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .works-content .works-nav .works-category .accordion-item .accordion-title:focus {
          background: none; }
        .works-content .works-nav .works-category .accordion-item .accordion-title:hover {
          background: #2c2824;
          color: #4b7cb7; }
          .works-content .works-nav .works-category .accordion-item .accordion-title:hover:before {
            transform: rotate(180deg);
            border-color: #4b7cb7 transparent transparent transparent; }
      .works-content .works-nav .works-category .accordion-item:first-child:before {
        content: '';
        display: block;
        width: auto;
        background: #fff2cc;
        height: 1px;
        margin: 0 20px; }
      .works-content .works-nav .works-category .accordion-item:last-child {
        margin-bottom: 20px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .works-content .works-nav .works-category .accordion-item:last-child.is-active {
        margin-bottom: 0; }
      .works-content .works-nav .works-category .accordion-item .accordion-content {
        background: #4b7cb7;
        border: none;
        height: auto;
        max-height: 250px;
        overflow: scroll; }
        .works-content .works-nav .works-category .accordion-item .accordion-content a {
          display: block;
          color: #2c2824;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
          .works-content .works-nav .works-category .accordion-item .accordion-content a:hover {
            color: #fff2cc; }
        .works-content .works-nav .works-category .accordion-item .accordion-content a.tag-filter {
          color: #fff2cc; }
      .works-content .works-nav .works-category .accordion-item.is-active:after {
        background: none; }
      .works-content .works-nav .works-category .is-active > .accordion-title {
        color: #4b7cb7; }
        .works-content .works-nav .works-category .is-active > .accordion-title:before {
          transform: rotate(180deg);
          border-color: #4b7cb7 transparent transparent transparent; }
      .works-content .works-nav .works-category .category-all .accordion-title:before {
        display: none; }
    @media (min-width: 900px) {
      .works-content .works-nav {
        top: 7%; } }
    @media (max-width: 599px) {
      .works-content .works-nav {
        top: 7%;
        left: -180px; } }
  .works-content .works-nav-open {
    left: 30px; }
  .works-content .work-nav-hide {
    left: -300px; }
  .works-content .works-map-wrapper {
    overflow: auto; }
    .works-content .works-map-wrapper .preview-wrapper {
      background: url(../images/workBG.png) top left repeat;
      background-size: 10px 10px;
      padding: 85px 20px 20px 245px; }
      @media (max-width: 599px) {
        .works-content .works-map-wrapper .preview-wrapper {
          padding: 0; } }
    .works-content .works-map-wrapper .work-block {
      background: #f3dc11;
      width: 270px;
      height: 280px;
      max-height: 280px;
      display: inline-block;
      margin: 10px;
      vertical-align: top;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .works-content .works-map-wrapper .work-block .work-image img {
        width: 100%;
        height: 155px;
        overflow: hidden; }
      .works-content .works-map-wrapper .work-block .work-des {
        height: calc(100% - 155px);
        padding: 10px 16px; }
        .works-content .works-map-wrapper .work-block .work-des p {
          margin-bottom: 5px;
          font-size: 1em;
          line-height: 1;
          color: #2c2824; }
        .works-content .works-map-wrapper .work-block .work-des .work-title {
          font-size: 1.125em;
          line-height: 1.3;
          margin-bottom: 7px;
          display: inline-block;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .works-content .works-map-wrapper .work-block .work-des .work-tags span {
          font-size: 0.875em;
          display: inline-block;
          width: auto;
          padding: 3px 5px;
          vertical-align: top;
          -webkit-border-radius: 1em;
          border-radius: 1em;
          -moz-border-radius: 1em;
          -o-border-radius: 1em;
          border: 1px solid #4b7cb7;
          text-align: center;
          margin-right: 10px;
          line-height: 1.3;
          color: #2c2824;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
      .works-content .works-map-wrapper .work-block:hover {
        background: #fff2cc; }
    .works-content .works-map-wrapper .work-block-hide {
      margin-top: 100%; }
  .works-content .preview-box {
    background: #2c2824;
    position: fixed;
    width: 175px;
    height: 200px;
    bottom: 7%;
    left: 40px;
    border: 1px solid #2c2824;
    overflow: hidden;
    display: none; }
    .works-content .preview-box .inner-preview-box {
      background: #fff2cc; }
  .works-content .map-more-right {
    height: 50px;
    width: 30px;
    position: fixed;
    right: 2%;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);
    background: url(../images/direction-arrow.svg) no-repeat; }
  .works-content .map-more-top {
    height: 50px;
    width: 30px;
    position: fixed;
    top: 65px;
    left: 50%;
    right: 0;
    display: none;
    transform: translate(-50%, 0) rotate(90deg);
    background: url(../images/direction-arrow.svg) no-repeat; }
    @media (max-width: 599px) {
      .works-content .map-more-top {
        top: 2%; } }
  .works-content .map-more-left {
    height: 50px;
    width: 30px;
    position: fixed;
    left: 230px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/direction-arrow.svg) no-repeat;
    display: none; }
    @media (max-width: 599px) {
      .works-content .map-more-left {
        left: 2%; } }
  .works-content .map-more-down {
    height: 50px;
    width: 30px;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0) rotate(270deg);
    background: url(../images/direction-arrow.svg) no-repeat; }

.single-work-box {
  z-index: 99999;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }
  .single-work-box .single-work-close {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    z-index: 999;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .single-work-box .single-work-close:before, .single-work-box .single-work-close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #fff2cc; }
    .single-work-box .single-work-close:before {
      transform: rotate(45deg); }
    .single-work-box .single-work-close:after {
      transform: rotate(-45deg); }
    .single-work-box .single-work-close:hover {
      opacity: 1; }

.work-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c2824;
  background: rgba(44, 40, 36, 0.9);
  filter: blur(5px); }

.single-work-loader {
  overflow: auto;
  position: fixed;
  top: 100%;
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.single-work-content {
  padding: 6% 2% 2% 2%;
  position: relative; }
  .single-work-content .single-work-card {
    display: none;
    margin: 10px;
    vertical-align: top;
    position: fixed;
    right: 2%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .single-work-content .single-work-card .work-block {
      height: 100%; }
      .single-work-content .single-work-card .work-block .work-image img {
        width: 100%;
        height: 155px;
        overflow: hidden; }
      .single-work-content .single-work-card .work-block .work-des {
        background: #f3dc11;
        height: calc(100% - 155px);
        padding: 10px 16px; }
        .single-work-content .single-work-card .work-block .work-des p {
          margin-bottom: 5px;
          font-size: 1.125em;
          line-height: 1; }
        .single-work-content .single-work-card .work-block .work-des .work-title {
          font-size: 1.313em;
          line-height: 1.3;
          margin-bottom: 5px;
          color: #2c2824;
          display: inline-block;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .single-work-content .single-work-card .work-block .work-des .work-tags p {
          font-size: 0.875em;
          display: inline-block;
          width: 65px;
          vertical-align: top;
          -webkit-border-radius: 1em;
          border-radius: 1em;
          -moz-border-radius: 1em;
          -o-border-radius: 1em;
          border: 1px solid #4b7cb7;
          text-align: center;
          margin-right: 10px;
          line-height: 1.3;
          color: #2c2824;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
    @media (min-width: 900px) {
      .single-work-content .single-work-card {
        width: 270px;
        height: 280px;
        max-height: 280px;
        display: inline-block; } }
  .single-work-content .single-work-card-hide {
    margin-top: 100%; }
  .single-work-content .single-work {
    width: 100%;
    max-width: 100%;
    height: auto;
    background: white; }
    .single-work-content .single-work .single-work-text-box {
      padding: 25px 25px 0 25px; }
      .single-work-content .single-work .single-work-text-box .single-work-tags .tag-company {
        font-size: 1.125em;
        color: #2c2824;
        float: left;
        margin-left: 5px; }
      .single-work-content .single-work .single-work-text-box .single-work-tags .tag-hashtags {
        float: right; }
        .single-work-content .single-work .single-work-text-box .single-work-tags .tag-hashtags p {
          font-size: 0.875em;
          display: inline-block;
          width: 65px;
          vertical-align: top;
          -webkit-border-radius: 1em;
          border-radius: 1em;
          -moz-border-radius: 1em;
          -o-border-radius: 1em;
          border: 1px solid #4b7cb7;
          text-align: center;
          margin-right: 10px;
          line-height: 1.3;
          color: #2c2824;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
      .single-work-content .single-work .single-work-text-box .single-work-title p, .single-work-content .single-work .single-work-text-box .single-work-number p {
        font-size: 4em;
        font-weight: bold; }
        @media (max-width: 599px) {
          .single-work-content .single-work .single-work-text-box .single-work-title p, .single-work-content .single-work .single-work-text-box .single-work-number p {
            line-height: 1; } }
      .single-work-content .single-work .single-work-text-box .single-work-title {
        float: left;
        max-width: 600px; }
      .single-work-content .single-work .single-work-text-box .single-work-number {
        float: right; }
        @media (max-width: 599px) {
          .single-work-content .single-work .single-work-text-box .single-work-number {
            float: none; } }
      .single-work-content .single-work .single-work-text-box .single-work-text {
        margin-top: 35px; }
        .single-work-content .single-work .single-work-text-box .single-work-text .paragraph-title {
          margin-bottom: 0; }
          .single-work-content .single-work .single-work-text-box .single-work-text .paragraph-title span {
            padding-left: 10px; }
        .single-work-content .single-work .single-work-text-box .single-work-text .p-break {
          margin: 30px 0 10px 0; }
    .single-work-content .single-work .paragraph-image {
      margin: 20px 0 0 0; }
    @media (min-width: 900px) {
      .single-work-content .single-work {
        max-width: calc(100% - 300px); } }
  .single-work-content .single-work-hide {
    margin-top: 100%; }
  .single-work-content .related-works .related-work-card {
    width: 270px;
    height: 280px;
    max-height: 280px;
    display: inline-block;
    margin: 40px 20px 20px 0;
    vertical-align: top;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .single-work-content .related-works .related-work-card .work-block {
      height: 100%; }
      .single-work-content .related-works .related-work-card .work-block .work-image img {
        width: 100%;
        height: 155px;
        overflow: hidden; }
      .single-work-content .related-works .related-work-card .work-block .work-des {
        background: #f3dc11;
        height: calc(100% - 155px);
        padding: 10px 16px; }
        .single-work-content .related-works .related-work-card .work-block .work-des p {
          margin-bottom: 5px;
          font-size: 1.125em;
          line-height: 1;
          color: #2c2824; }
        .single-work-content .related-works .related-work-card .work-block .work-des .work-title {
          font-size: 1.313em;
          line-height: 1.3;
          margin-bottom: 5px;
          color: #2c2824;
          display: inline-block;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .single-work-content .related-works .related-work-card .work-block .work-des .work-tags p {
          font-size: 0.875em;
          display: inline-block;
          width: 65px;
          vertical-align: top;
          -webkit-border-radius: 1em;
          border-radius: 1em;
          -moz-border-radius: 1em;
          -o-border-radius: 1em;
          border: 1px solid #4b7cb7;
          text-align: center;
          margin-right: 10px;
          line-height: 1.3;
          color: #2c2824;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
    .single-work-content .related-works .related-work-card:hover {
      margin-top: 30px; }

.single-work-loader-up {
  top: 0;
  position: relative;
  opacity: 1; }

.member-content {
  background: url(../images/workBG.png) top left repeat;
  background-size: 10px 10px;
  width: 100%;
  height: 100%; }
  .member-content .members {
    width: 100%;
    height: auto;
    padding: 65px;
    background: url(../images/membersBG.png) center 30px no-repeat;
    background-size: 100%; }
    .member-content .members .member-head {
      margin-top: 100px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      @media (min-width: 1400px) {
        .member-content .members .member-head {
          margin-top: 200px; } }
      @media (min-width: 1800px) {
        .member-content .members .member-head {
          margin-top: 300px; } }
      .member-content .members .member-head .member-title {
        padding: 30px;
        width: 400px;
        height: auto;
        background-color: #2c2824;
        float: left; }
        .member-content .members .member-head .member-title p {
          font-weight: bold;
          font-size: 3.125em;
          line-height: 1.2;
          margin-bottom: 0; }
      .member-content .members .member-head .member-info {
        float: right; }
        .member-content .members .member-head .member-info .member-info-block {
          width: 140px;
          height: auto;
          display: inline-block;
          margin: 0 15px; }
          .member-content .members .member-head .member-info .member-info-block p {
            font-size: 1.063em;
            text-align: center; }
          .member-content .members .member-head .member-info .member-info-block span {
            display: inline-block;
            width: 100%;
            background: #2c2824;
            font-size: 6em;
            font-weight: bold;
            text-align: center;
            line-height: 1.2em;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px; }
    .member-content .members .member-thumbnail-wrap {
      margin-top: 75px; }
      .member-content .members .member-thumbnail-wrap .member-thumbnail-block {
        width: 360px;
        height: 255px;
        background: none;
        perspective: 1200px;
        cursor: pointer;
        margin-bottom: 20px; }
        @media (min-width: 1200px) {
          .member-content .members .member-thumbnail-wrap .member-thumbnail-block {
            width: 350px; } }
        @media (min-width: 1400px) {
          .member-content .members .member-thumbnail-wrap .member-thumbnail-block {
            width: 360px; } }
        .member-content .members .member-thumbnail-wrap .member-thumbnail-block img {
          height: 255px; }
        .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card {
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }
        .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-front {
          background: #4b7cb7;
          height: 100%;
          backface-visibility: hidden;
          position: absolute;
          overflow: hidden;
          width: 100%; }
          .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-front p {
            color: #fff2cc; }
          .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-front .front-left {
            float: left;
            width: 50%;
            height: 100%;
            padding: 15px 20px;
            position: relative; }
            .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-front .front-left .fcard-title {
              font-size: 0.938em;
              margin-bottom: 5px; }
            .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-front .front-left .fcard-name {
              font-size: 1.875em;
              line-height: 1; }
            .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-front .front-left .front-bottom {
              width: 100%;
              margin-top: 100%; }
              .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-front .front-left .front-bottom .divider {
                margin-bottom: 5px; }
              .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-front .front-left .front-bottom .fcard-role:before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                background: url(../images/card-time.svg);
                margin-right: 5px; }
          .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-front .front-right {
            float: right;
            width: 50%; }
        .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-back {
          background: #2c2824;
          height: 100%;
          backface-visibility: hidden;
          position: absolute;
          overflow: hidden;
          width: 100%;
          transform: rotateY(180deg); }
          .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-back p {
            color: #fff2cc; }
          .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-back .back-right {
            float: left;
            width: 50%;
            height: 100%;
            padding: 15px 20px;
            position: relative; }
            .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-back .back-right .bcard-title {
              font-size: 0.938em;
              margin-bottom: 5px; }
            .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-back .back-right .bcard-name {
              font-size: 1.875em;
              line-height: 1; }
            .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-back .back-right .back-bottom {
              width: 100%;
              margin-top: 100%; }
              .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-back .back-right .back-bottom .divider {
                margin-bottom: 5px; }
              .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-back .back-right .back-bottom .bcard-role:before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                background: url(../images/card-time.svg);
                margin-right: 5px; }
          .member-content .members .member-thumbnail-wrap .member-thumbnail-block .member-card-back .back-left {
            float: right;
            width: 50%; }
        .member-content .members .member-thumbnail-wrap .member-thumbnail-block:hover .member-card {
          transform: rotateY(540deg); }
          .member-content .members .member-thumbnail-wrap .member-thumbnail-block:hover .member-card .member-card-front p, .member-content .members .member-thumbnail-wrap .member-thumbnail-block:hover .member-card .member-card-front .divider {
            opacity: 0;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s; }

.copyright {
  width: 100%;
  position: absolute;
  bottom: 0; }
  .copyright p {
    text-align: center;
    font-size: 0.875em; }
  @media (max-width: 599px) {
    .copyright {
      width: 40%; }
      .copyright p {
        padding-left: 1em;
        text-align: left;
        font-size: 0.75em; } }

button:focus {
  outline: none; }

.lines-button {
  display: inline-block;
  padding: 0.75rem 0.375rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border: none;
  background: none;
  line-height: 50%;
  vertical-align: middle;
  position: absolute;
  right: 5px;
  background: none;
  margin-top: 3px; }
  .lines-button:hover {
    background: none; }
    .lines-button:hover .lines {
      background: #4b7cb7; }
      .lines-button:hover .lines:before {
        background: #4b7cb7; }
  .lines-button:active {
    transition: 0; }

.lines {
  display: inline-block;
  width: 1.5rem;
  height: 0.125rem;
  background: #fff2cc;
  border-radius: 0.125rem;
  transition: 0.3s;
  position: relative; }
  .lines:before {
    display: inline-block;
    width: 1.5rem;
    height: 0.125rem;
    background: #fff2cc;
    border-radius: 0.125rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg); }

.lines-button.x.close .lines {
  background: none; }
  .lines-button.x.close .lines:before {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 1.5rem; }
  .lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg); }

.menu-button {
  display: inline-block;
  padding: 0.5rem 0.3rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border: none;
  background: none;
  line-height: 50%;
  vertical-align: middle;
  z-index: 999;
  position: absolute;
  margin-top: 7px;
  right: 5px;
  background: none; }
  .menu-button:hover {
    opacity: 1;
    background: none; }
  .menu-button:active {
    transition: 0; }

.menu-lines {
  display: inline-block;
  width: 1.5rem;
  height: 0.125rem;
  background: #fff2cc;
  border-radius: 0.125rem;
  transition: 0.3s;
  position: relative; }
  .menu-lines:before, .menu-lines:after {
    display: inline-block;
    width: 1.5rem;
    height: 0.125rem;
    background: #fff2cc;
    border-radius: 0.125rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.10714rem center; }
  .menu-lines:before {
    top: 0.375rem; }
  .menu-lines:after {
    top: -0.375rem; }

.menu-button.x.close .menu-lines {
  background: none; }
  .menu-button.x.close .menu-lines:before, .menu-button.x.close .menu-lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 1.5rem; }
  .menu-button.x.close .menu-lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .menu-button.x.close .menu-lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

.social-menu {
  z-index: 999;
  position: absolute;
  right: 35px;
  top: 35px;
  background-color: #2c2824;
  text-align: center;
  width: 46px;
  height: 46px;
  overflow: hidden;
  padding: 0;
  -webkit-border-radius: 46px;
  border-radius: 46px;
  -moz-border-radius: 46px;
  -o-border-radius: 46px; }
  .social-menu .social-share {
    margin: 45px 0 10px 0; }
    .social-menu .social-share a {
      display: block;
      padding-bottom: 5px;
      color: #fff2cc;
      white-space: nowrap;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .social-menu .social-share a:hover {
        color: #4b7cb7; }
  @media (max-width: 599px) {
    .social-menu {
      display: none; } }

.social-menu-open {
  width: auto;
  height: auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0 10px; }

.chat-box {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.2%;
  background: #2c2824;
  width: 60px;
  height: 60px;
  padding: 30px;
  cursor: pointer;
  user-select: none;
  z-index: 5; }
  .chat-box img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    opacity: 0;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .chat-box:before {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    user-select: none;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: #4b7cb7 transparent transparent transparent; }
  .chat-box:hover img {
    opacity: 1; }
  .chat-box .chat-img-open {
    opacity: 1; }
  @media (max-width: 599px) {
    .chat-box img {
      opacity: 1; } }
  @media (min-width: 1400px) {
    .chat-box {
      margin: 10px; } }

.chat-box-pulse {
  animation: pulse 1s infinite; }

@-webkit-keyframes pulse {
  0% {
    width: 60px;
    height: 60px; }
  50% {
    width: 63px;
    height: 63px; }
  100% {
    width: 60px;
    height: 60px; } }
