@import "foundation";
@import "styles";
div {
	&.youtube, &.vimeo {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.embed_content {
	margin: 20px -25px 0px -25px;
}
iframe {
	margin-left: auto !important;
	margin-right: auto !important;
}

@media only screen and (max-width: 414px) {
	*{
    -webkit-overflow-scrolling: touch;
	}
}