body.sessions-controller {
	.alert {
		margin-top: 1rem;
	}

	& {
		background: #e0e0e0;
	}

	.form-wrapper {
		background: white;
	  margin: auto;
		margin-top: 100px;
	  padding: 0px;
	  width: 100%;
	  max-width: 400px;
		.title-bar {
			background: seagreen;
			padding: 20px;
			text-align: center;
			color: white;
			font-size: 24px;
		}
		.form-fields-wrapper {
			padding: 10% 15% 15% 15%;
			margin: auto;
			background: white;
			input:not(.btn) {
				border: none;
	    	background: #f5f5f5;
			}
		}
		.btn-login {
			border-radius: 0px;
			padding: 12px 16px;
	  	width: 100%;
	  	background: lighten(seagreen, 10%);
	  	border: none;
	  	&:hover, &:focus, &:visited {
	  		background: seagreen;
	  	}
	  }
	}
}