<nav class="mobile-nav">
  <button class="menu-button x" type="button" role="button" aria-label="Toggle Navigation"><span class="menu-lines"></span></button>
  <div class="mobile-menu">
    <ul>
      <li><a class="font-white" href="/about">About Us</a></li>
      <li><a class="font-white" href="/works">Works</a></li>
      <li><a class="font-white" href="/members">Members</a></li>
      <li><a class="font-white" href="/contact">Contact Us</a></li>
      <div class="divider bg-blue"></div>
      <div class="social-share"><a class="font-blue" href="#">Facebook</a><a class="font-blue" href="#">Instagram</a></div>
    </ul>
  </div>
</nav>