<div class="social-menu">
  <button class="lines-button x" type="button" role="button" aria-label="Toggle Navigation"><span class="lines"></span></button>
  <div class="social-share"><a href="https://www.facebook.com/ShiftStudioCo/">Facebook</a><a href="https://www.instagram.com/shiftstudioco/">Instagram</a></div>
</div>